html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul, ol {
    list-style: none;
    padding: 0;
}

.hero {
    height: auto;
    width: 100%;
    background-color: #4A4A4D;
    padding: 100px 0 1em;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
}

.content {
    margin: 0 auto;
    text-align: center;
}

.iam {
    height: auto;
    width: 80%;
    color: #879EC4;
    font-size: 4em;
}

.iam img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.logo {
    /*width: 443px;*/
    /*height: 468px;*/
    /*margin: 0 auto;*/
}

.menu {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -70px;
    background-image: url('../images/arrowDownB.png');
    background-repeat: no-repeat;
}

.overview {
    color: #EBE8D9;
    font-family: Archivo, sans-serif;
    font-size: 2em;
    margin: 0 auto;
    width: 90%;
}

.projects {
    background-color: #4C596D;
    padding: 4em 0;
}

.projects p {
    color: #EBE8D9;
}

.projects h2 {
    color: #879EC4
}

.projects li {
    display: inline-block;
}

.projects img {
    height: 200px;
    width: 300px;
    display: block;
    margin: 16px 0;
}

a:link, a:visited {
    color: #BF9657;
    text-decoration: none;
}

a:hover, a:active {
    color: #EDBD6B;
}

footer {
    background-color: rgb(74, 74, 77);
    padding: 2em;
}

footer li {
    display: inline-block;
}

footer .icon {
    border: 1px solid #eaebec;
    border-radius: 3rem;
    padding: 1rem 0;
    width: 5.6rem;
    margin: 1.25rem 5px;
}

footer .icon-tall {
    padding: .75rem;
}

@media screen and (min-width: 650px) {
    li:first-child {
        margin-right: 20px;
    }
    li:last-child {
        margin-left: 20px;
    }
}

@media screen and (max-width: 500px) {
    .iam img {
        width: 75%;
        height: auto;
    }
}